extends layout

block head_link
  link(rel='stylesheet', href='/stylesheets/controller.css')

block head_script
  script(src='//192.168.1.50/socket.io/socket.io.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='javascripts/enchant.js')
  script(src='javascripts/ui.enchant.js')
  script(src='javascripts/gShake.js')
  script(src='javascripts/sub.js')
