extends layout

block head_ex
  script(src='//192.168.1.50/socket.io/socket.io.js')
  script(src='javascripts/gShake.js')
  script(src='javascripts/sub.js')

block content
  h1= title
  p controller page
  p
    span#shake
  button#shake-button debug
