extends layout

block head_link
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet")

block head_script
  script(src='/socket.io/socket.io.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='javascripts/enchant.js')
  script(src='/jquery/dist/jquery.min.js')
  script(src='/jquery-qrcode/jquery.qrcode.min.js')
  script(src='/tmlib.js/build/tmlib.min.js')

  script(src="/javascripts/set_qr.js")
  script(src='/javascripts/ui.enchant.js')
  script(data-main="/javascripts/main.js" src="/requirejs/require.js")


block content
  body
    // section#wrapper
    section#game
      div#enchant-stage(style="width: 960px")
    section#infos
      section#qr-box
        h3
          | スマホで参加!
        div#qr
      section#players-box
        section.team-box(team=0)
          h2 赤チーム
        section.team-box(team=1)
          h2 黄チーム
        section.team-box(team=2)
          h2 青チーム
        section.team-box(team=3)
          h2 緑チーム
