extends layout

block head_script
  script(src='//192.168.1.50/socket.io/socket.io.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='javascripts/enchant.js')
  script(src='/jquery/dist/jquery.min.js')
  script(src='/jquery-qrcode/jquery.qrcode.min.js')
  script(src='/victor/build/victor.min.js')
  script(src="/javascripts/set_qr.js")
  script(src='/javascripts/ui.enchant.js')
  script(src='/javascripts/main.js')


block content
  body
    // section#wrapper
    section#game
      div#enchant-stage(style="width: 960px; height: 760px")
    section#infos
      section#qr-box
        h3
          | スマホで参加!
        div#qr
      section#players-box
