doctype html
html
  head
    title= title
    meta(http-equiv="pragma" content="no-cache")
    meta(http-equiv="cache-control" content="no-cache")
    meta(equiv="expires" content="0")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head_link
    script(src='/javascripts/enchant.js')
    script(src='/javascripts/func.js')
    block head_script
    block head_ex
  body
    block content
