extends layout

block content
  #wrapper
    h1 コントローラ, チーム選択

    p ノーマルコントローラ
    ul
      li
        a(href='?type=0&team=0') 赤
      li
        a(href='?type=0&team=1') 黄
      li
        a(href='?type=0&team=2') 青
      li
        a(href='?type=0&team=3') 緑

    p ふるふるコントローラ
    ul
      li
        a(href='?type=1&team=0') 赤
      li
        a(href='?type=1&team=1') 黄
      li
        a(href='?type=1&team=2') 青
      li
        a(href='?type=1&team=3') 緑

