@charset "utf-8"
@import "kouto-swiss"

ks-meyer-reset()

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0
  padding 0

a
  color #00B7FF

team-color(col)
  padding 10px
  background col
  p
    a
      color white
      display block
      text-decoration none

h1, h2
  margin-left 20px

.team-select
  display flex
  justify-content space-around
  .team
    width 30%
    text-align center
    box-shadow 0 0 2px
    margin 10px
    &.team0
      team-color(red)
    &.team1
      team-color(orange)
    &.team2
      team-color(blue)
    &.team3
      team-color(green)

  ul
    display flex
    list-style-type none
    padding 5px 10px
    li
      width 20%
      height 30px
      padding-top 10px
      text-align center
      margin-left 5%
      a
        color white
        display block

img#help
  width 100%

#infos
  display flex
#qr-box
  margin 5px
  width 120px
  h3
    margin 0 5px
  #qr
    border solid 3px #999
    width 100px
    height 100px
    padding 3px

player-card(col)
  background col + #666

#players-box
  display flex
  justify-content space-between
  width 80%
  .team-box
    h2
      margin 5px
    width 23%
    &[team="0"]
      background red + #666
    &[team="1"]
      background #FFB22F
    &[team="2"]
      background blue + #666
    &[team="3"]
      background green + #666
    .player
      color white
      margin 3px 10px
      >i
        margin-right 3px
      button
        float right
        background: #AFAFAF;
        border: none;
        box-shadow: 0 0 14px;
        border-radius: 100%;
